@model agencia.Models.Entity.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nacionality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nacionality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birthDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
